<h1><%= @question.test.title %> Question</h1>

<p>
  <%= @question.body %>
</p>

<h2>Answers</h2>

<%= link_to 'Add new answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'edit', edit_question_path(@question) %>
<%= link_to 'back', admin_test_path(@question.test) %>
