<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.successful? %>
  <p><%= t('.success') %> <span class="success"><%= t('.score', score: @test_passage.score_counter.to_i) %></span></p>
<% else %>
  <p><%= t('.failure') %> <span class="failure"><%= t('.score', score: @test_passage.score_counter.to_i) %></span></p>
<% end %>

<p>
  <%= link_to t('.back'), tests_path %>
</p>

