<div class="container">
  <h5 class="mt-4"><%= @question.test.title %></h5>
  <%#= link_to t('actions.edit'), edit_admin_question_path(@question) %>
  <p><%= @question.body %></p>

  <%= link_to t('.add_answer'), new_admin_question_answer_path(@question), class: 'btn btn-primary' %>
  <%= link_to t('actions.back'), admin_test_path(@question.test), class: 'btn btn-primary' %><br>

  <table class="table table-hover col-md-6 mt-3">
    <tbody>
      <%= render @question.answers %>
    </tbody>
  </table>
</div>
