<div class="container">
  <h5 class="mt-4"><%= t('.header') %></h5>

  <%= link_to t('.new'), new_admin_test_path, class: "btn btn-primary mb-2" %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= t('tests.index.title') %></th>
        <th scope="col"><%= t('tests.index.level') %></th>
        <th scope="col"><%= t('tests.index.questions') %></th>
        <th scope="col" colspan="3" class="text-center"><%= t('tests.index.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
