<p>
  <%= test.title %> | 
  <%= link_to "view", test_path(test) %> | 
  <%= link_to "edit", edit_test_path(test) %> | 
  <%= link_to "delete", test_path(test), method: :delete %> | 
  [ <%= test.questions.count %> ]
</p>
