<h2><%= t('tests.index.header') %></h2>

<table>
  <tr>
    <th><%= t('tests.index.title') %></th>
    <th><%= t('tests.index.level') %></th>
    <th><%= t('tests.index.questions') %></th>
    <th><%= t('tests.index.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
