<h5 class="mt-4"><%= t('tests.index.header') %></h5>

<table class="table table-hover scroll">
  <thead>
    <tr>
      <th scope="col" class="sort-by-title pointer">
        <%= t('tests.index.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= t('tests.index.level') %></th>
      <th scope="col"><%= t('tests.index.questions') %></th>
      <th scope="col"><%= t('tests.index.time_limit') %></th>
      <th scope="col"><%= t('tests.index.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
