<footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
  <div class="container text-center">
    <small><%= current_year %> | <%= github_url('vtka', 'test-guru') %> |
      <%= thinknetica_link %> | <%= link_to t('.feedback'), new_contact_path %> | <%= t('.promo') %>
    </small>
  </div>
</footer>
