<% if logged_in? %>
  <p class="nav user">Welcome, <b><%= current_user.email %></b> <%= link_to "Guru", 'about' %></p>
  <p class="nav user"><%= link_to "Log out", logout_path, method: :delete %></p>
<% else %>
  <header>
    <div>
      <nav>
        <ul>
          <li><%= link_to "Sign up", 'signup' %></li>
          <li><%= link_to "Log in", 'login' %></li>
        </ul>
      </nav>
    </div>
  </header>
<% end %>
